body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000; /* Fondo negro */
  color: #dbcdd7;
  text-align: center;
}

header {
  padding: 40px 20px;
  position: relative;
  z-index: 1;
  color: white;
  overflow: hidden; /* Para que el fondo quede dentro */
}

header::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url("banderas.jpg") center/cover no-repeat;
  filter: blur(6px) brightness(0.6); /* Difuminado + oscurecido */
  z-index: -1;
}

.logo {
  max-width: 150px;
}

.slogan {
  margin-top: 10px;
  color: #fbfbfb; /* Fucsia del logo */
}

.conversor {
  background: #111;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(247, 37, 133, 0.5);
}

.conversor input, .conversor select, .conversor button {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 8px;
}

.conversor button {
  background: #f72585;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
}

.video iframe {
  width: 300px;
  height: 500px;
  border-radius: 12px;
  background-color: black; /* Fondo negro para el video */
}

.contacto {
  text-align: left;
  font-size: 16px;
}
